@model IEnumerable<Lab_34_Gym_Website_MVC_Core.WorkoutLog>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkoutLogId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkoutLogId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkoutLogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
