@model List<String>
@{
    ViewData["Title"] = "MyAction";
}

<h2>This is my action page</h2>

<h3>Page Title is @ViewData["Title"]</h3>

<p>Some data received from the back end is @ViewBag.MyItem and also 
    @ViewData["AnotherItem"]</p>

<ul>

    @for (int i = 0; i < 5; i++)
    {
        <li>Your item is @i</li>
    }

</ul>

<h2>Getting data from ViewBag</h2>
<ul>
    @foreach(var item in ViewBag.myList){
        <li>Item is @item</li>
    }
</ul>

<h2>Via List of strings</h2>
<ul>
    @foreach(var item in Model)
    {
        <li>@item</li>
    }
</ul>

